.calendar {

    background: #f9f9f9;
    width: 320px;

    font-size: 12px;
    border: 1px solid #f0f0f0;

}

.calendar.active {
    display: block;
}

.calendar-head {

    text-align: center;
    color: #999999;
    font-weight: bold;
    position: relative;  

    border-bottom: 1px solid #f0f0f0;

}

.calendar-head-select {

    background: none;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;

    height: 32px;
    line-height: 32px;

}

.calendar-head-prev {
    text-decoration: none;
    color: #999999;
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.calendar-head-prev:hover {
    background: #f0f0f0;
}

.calendar-head-next {
    text-decoration: none;
    color: #999999;
    display: block;
    float: right;
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.calendar-head-next:hover {
    background: #f0f0f0;
}

.calendar-header {
    border-bottom: 1px solid #f0f0f0;
}

.calendar-header-day {
 
    text-align: center;
    display: inline-block;
    width: 14.28%;

    text-decoration: none;
    color: #999999;
    
    text-align: center;
    
    height: 32px;
    line-height: 32px;
 
}

.calendar-day-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.calendar-day-list > li {
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.calendar-day {
    
    text-decoration: none;
    color: #999999;
    
    text-align: center;
    
    height: 32px;
    line-height: 32px;
    
    display: block;
}

.calendar-day:hover,
.calendar-day.active {
    background: #f0f0f0;
}

.calendar-day.current {
    color: #666666;
}



.calendar-day-other {

    text-decoration: none;
    color: #d0d0d0;
    
    text-align: center;
    
    height: 32px;
    line-height: 32px;
    
    display: block;

}

.calendar-day-other:hover,
.calendar-day-other.active {
    background: #f0f0f0;
}

.calendar-footer {
    border-top: 1px solid #f0f0f0;
}

.calendar-footer-action-list {
    text-align: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.calendar-footer-action-list > li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 5px;
}

.calendar-footer-button {
    
    display: block;
    padding: 0 10px;

    height: 32px;
    line-height: 32px;

    color: #999999;

    text-decoration: none;

}

.calendar-footer-button:hover {
    background: #f0f0f0;
}