.calendar {
    background: #F7F7F7;
    width: 350px;
    color: #525252;
    font-family: SANS-SERIF;
    padding: 15px 0;
    border: 1px solid #dadada;
}

.calendar.active {
    display: inline-block;
}

.calendar-block {
    display: inline-block;
    width: 14.28%;
}

.calendar-head {
    text-align: center;
    margin-bottom: 10px;
    color: #515151;
    font-weight: bold;
    position: relative;  
    height: 20px;
    line-height: 20px;
}

.calendar-head-select {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #515151;
    cursor: pointer;
}
.calendar-head-prev {
    text-decoration: none;
    color: #444;
    position: absolute;
    left: 14px;
    top: -2px;
}

.calendar-head-next {
    text-decoration: none;
    color: #444;
    position: absolute;
    right: 14px;
    top: -2px;
}

.calendar-header-day {
    text-align: center;
    display: inline-block;
    width: 14.28%;    
}
.calendar-day-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.calendar-day-list li {
    display: inline-block;
    width: 14.28%;
    text-align: center;
    margin-top: 7px;
}

.calendar-day {
    text-decoration: none;
    color: #525252;
    text-align: center;
    height: 42px;
    width: 42px;
    line-height: 44px;
    display: inline-block;
}


.calendar-day-other {
    text-decoration: none;
    color: #999;
    text-align: center;
    height: 42px;
    width: 42px;
    line-height: 44px;
    display: inline-block;
    cursor: default;
}

.calendar-day:hover {
  background: #B9D8F9;
}

.calendar-day.current {
  background: #F9E0B9;
  color: #525252;
}

.calendar-day.active {
  background: #B9D8F9;
  color: #127DFE;
}

.calendar-footer {
    text-align: right;
    padding: 0 10px;
    margin-top: 10px;
}

.calendar-footer-button {
    background: #F0DCDC;
    padding: 5px;
    border-radius: 4px;
    color: #888;
    text-decoration: none;
    border: 1px solid transparent;
    margin: 0px 15px;
}

.calendar-footer-button:hover {
    border: 1px solid #888;
}
