.text-content {
    padding: 20px;
}

.text-content-title {
    /**/
}

.code-content {
    padding: 20px;
}

.code-content-title {
    /**/
}

.title-content {
    padding: 20px;
}

.title-content-title {
    /**/
}


 
.html-content {
    /**/
}

.html-content-title {
    padding: 20px 20px 0;
}
 
.image-content {
    /**/
}

.image-content-title {
    padding: 20px 20px 0;
}
 
.slider-content {
    /**/    
}

.slider-content-title {
    padding: 20px 20px 0;
}