/* 
 *
 * Content
 *
 */

.content {
    
    margin: 0;
    padding: 40px 0;
    
    background: #f0f0f0;
    color: #666666;
    
}

.content:after {    
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.content-title {
    margin: 1em 20px;
}




/* 
 *
 * Header
 *
 */

.header {
    height: 120px;
}

.header:after {    
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


/* 
 *
 * Nav
 *
 */

.nav {    
    display: block;
    background: #3a3a3a;
}

.nav:after {    
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

@media screen and ( min-width: 768px ) {
    
    .nav {
    
        position: absolute;
        right: 0;
        left: 0;
        top: 84px;
    
        z-index: 1000;
    
    }
    
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and ( min-width: 768px ) {
    
    .nav-list {
        font-size: 0;
    }
    
}

.nav-list > li {
    
    list-style: none;
    padding: 0;
    margin: 0;
    
}

@media screen and ( min-width: 768px ) {
    
    .nav-list > li {
        display: inline-block;
        font-size: 12px;
    }
    
}

@media screen and ( min-width: 768px ) {
    
    .nav .nav {
        
        position: absolute;
        display: block;
        right: 0;
        left: 0;
        top: 36px;
        
        background: #606060;
        
    }
    
}


.nav-link {
    
    display: block;
    padding: 0 20px;
    
    height: 3em;
    line-height: 3em;
    
    color: #ffffff;
    
}

.nav-link.selected,
.nav-link:hover {
    background: #303030;
    color: #f0f0f0;
}





/* 
 *
 * Footer
 *
 */

.footer {
    padding: 40px 0;
}

.footer:after {    
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}