body, 
 html {
     
     padding: 0;
     margin: 0;
     
     overflow-x: hidden;
     
}

.grid {
    
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    
    zoom: 1;
    
}

.grid:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
 
@media screen and ( min-width: 768px ) {
    
    .column {
        float: left;
        width: 100%;
    }

    .column:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
    
    .column.reverse {
        float: right;
    }
    
    .column.two.a { width: 50%; }

    .column.three.a { width: 33.333%; }
    .column.three.b { width: 66.333%; }

    .column.four.a { width: 25%; }
    .column.four.b { width: 50%; }
    .column.four.c { width: 75%; }

    .column.five.a { width: 20%; }
    .column.five.b { width: 40%; }
    .column.five.c { width: 60%; }
    .column.five.d { width: 80%; }
    
    .column.six.a { width: 16.667%; }
    .column.six.b { width: 33.333%; }
    .column.six.c { width: 50%; }
    .column.six.d { width: 66.667%; }
    .column.six.e { width: 83.333%; }
    
}