.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    
    display: block;
    padding: 0 20px;
    
    height: 3em;
    line-height: 3em;
    
}

.nav-link:hover {
    background: #000;
    color: #fff;
}