
html, 
 body {
    font-family: "OpenSans", "Arial", "Sans-Serif";
    line-height: 18px;
    font-size: 12px;
}


h1,
 h2,
  h3,
   h4 {
    font-family: "OpenSans", "Arial", "Sans-Serif";
    font-weight: 200;
    line-height: 1.5em;
}

h1 { font-size: 24px; }
 h2 { font-size: 20px; }
  h3 { font-size: 16px; }
   h4 { font-size: 12px; }

ul, ol, li, dl, dt, dd {
    list-style: none;
    padding: 0;
    margin: 0;
}

dt {
    clear: both;
}

a {
    color: #53bcdb;
    text-decoration: none;
}

img {
    background: #f0f0f0;
    max-width: 100%;
    display: block;
    margin: 0;
}







.button {
    
    background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    
    text-decoration: none;
    color: #fff;
    
    font-size: 12px;
    
    padding: 0.75em 1em;
    box-sizing: border-box;
    border: none;
    background-color: #121212;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    
    line-height: 1.5em;
    
    display: inline-block;
    
    margin: 0;
    
    font-family: "OpenSans", "Arial", "Sans-Serif";
    font-weight: 300;
    
    cursor: pointer;
    
}

.button:hover {
    background-color: #000;
}

.button.reduce {
    padding: 0.25em 0.5em;
}

.button.blue {
    border-color: #53bcdb;
    background-color: #53bcdb;
    color: #fff;
}

.button.blue:hover {
    border-color: #000;
    background-color: #000;
}

.button.red {
    border-color: #AF002A;
    background-color: #AF002A;
    color: #fff;
}

.button.grey {
    border-color: #f0f0f0;
    background-color: #f0f0f0;
    color: #999;
}

.button.grey:hover {
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}

.button.link {
    background: none;
    color: #999;
}

.button.link:hover {
    background: none;
    color: #53bcdb;
}

.button-icon {
    
    display: inline-block;
    
    padding: 0.75em 1em;
    margin: -0.75em 1em -0.75em -1em;
    
    border-right: 1px solid rgba( 255, 255, 255, 0.1 );
    
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=54Z0f0kw0w0jyC+oRxVy4oIDfjr */

/* Feel free to copy&paste color codes to your application */


/* As hex codes 

#B1009B
#C44CB6
#B529A4
#880078
#6B005E

#D2006B
#DD569B
#D42F83
#A20052
#7F0041

#7908AA
#9D50BF
#882DAF
#5D0683
#490367

*/

/* Generated by Paletton.com Â© 2002-2014 */
/* http://www.paletton.com/#uid=54Z0f0kw0w0jyC+oRxVy4oIDfjr */

/*
.[name] {
    background: [color];
    color: [color];
    font: [font];
}
*/

.raspberry {
    
    background: #D2006B;
    color: #FFFFFF;
    
}

.yrrebpsar {
    
    background: #FFFFFF;
    color: #D2006B;
    
}

.berryrasp {
    
    background: #D2006B;
    color: #000000;
    
}

.psaryrreb {
    
    background: #000000;
    color: #D2006B;
    
}

.aubergine {
    
    background: #7F0041;
    color: #FFFFFF;
    
}

.enigrebua {
    
    background: #FFFFFF;
    color: #7F0041;
    
}

.raspberry {
    
    background: #1A60FF;
    color: #FFFFFF;
    
}

.yrrebpsar {
    
    background: #FFFFFF;
    color: #1A60FF;
    
}

.berryrasp {
    
    background: #1A60FF;
    color: #000000;
    
}

.psaryrreb {
    
    background: #000000;
    color: #1A60FF;
    
}

.aubergine {
    
    background: #0FA1FF;
    color: #FFFFFF;
    
}

.enigrebua {
    
    background: #FFFFFF;
    color: #0FA1FF;
    
}