.slider {
    
    position: relative;
    width: 100%;
    
}

.slider {
    
            animation-duration: 0.001s;
         -o-animation-duration: 0.001s;
        -ms-animation-duration: 0.001s;
       -moz-animation-duration: 0.001s;
    -webkit-animation-duration: 0.001s;
    
            animation-name: create;
         -o-animation-name: create;
        -ms-animation-name: create;        
       -moz-animation-name: create;
    -webkit-animation-name: create;

}


.slider-list {
    
    -webkit-transition: -webkit-transform 0.3s linear;
    
    width: 1000000%;
    font-size: 0;
    
}

.slider-list > li { 
    
    display: inline-block;   
    font-size: 12px;
    width: 0.00333%;
    
    vertical-align: top;
    box-sizing: border-box;
    
    position: relative;
    z-index: 10;
    
}

.slider-list > li { 
    
        animation-duration: 0.001s;
     -o-animation-duration: 0.001s;
    -ms-animation-duration: 0.001s;
   -moz-animation-duration: 0.001s;
-webkit-animation-duration: 0.001s;

        animation-name: slider;
     -o-animation-name: slider;
    -ms-animation-name: slider;        
   -moz-animation-name: slider;
-webkit-animation-name: slider;
    margin: 0px;
    
}

.slider-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider-nav-link {
    
    margin-top: -60px;
    
    position: absolute;
    display: none;
    
    top: 50%;
    
    line-height: 120px;
    height: 120px;
    width: 40px;
    
    text-align: center;
    font-size: 24px;
    padding: 0;
    
    z-index: 100;
}

.slider-nav-forward-link {
    right: 0;
}

.forward-slider .slider-nav-forward-link {
    display: block;
}

.slider-nav-back-link {
    left: 0;
}

.back-slider .slider-nav-back-link {
    display: block;
}