.media-player {
	border: 1px solid #ffffff;
	background: #000000;
	position: relative;
	height: 480px;
	width: 720px;
}

	.media-player .media-controls {
		position: absolute;
		background: #fff;
		width: 100%;
		bottom: 0px;
	}
	
	.media-player .media-control {
		text-indent: -999px;
		background: #f0f0f0;
		overflow: hidden;
		display: block;
		height: 40px;
		width: 40px;
		float: left;
	}
	
	.media-player .media-control:hover {
		background: #000;
	}
	
		.media-player .media-mute {
			float: right;
		}
		
		.media-player .media-full-screen {
			position: absolute;
			right: 0px;
			top: 0px;
		}
	
	.media-player .media-slide-control {
		border-radius: 20px;
		background: #f0f0f0;
		display: block;
		margin: 15px 0;
		height: 10px;
	}
	
		.media-player .media-scrubber {
			margin-left: 10px;
			width: 380px;
			float: left;
		}
	
		.media-player .media-volume {
			margin-right: 10px;
			float: right;
			width: 80px;
		}
		
	.media-player .media-time-control {
		display: block;
		float: left;
	}