/**
 *
 * Media Player Container & Media Player
 *
 */

.media-player-container {
	border: 1px solid #ffffff;
	margin: 1.5em 0;
	height: 480px;
	width: 720px;
}

	.media-player {
		background: #000000;
		position: relative;
		height: 100%;
		width: 100%;
	}

		.media-controls {
			position: absolute;
			background: #fff;
			width: 100%;
			bottom: 0px;
		}
	
		.media-control {
			text-indent: -999px;
			background: #f0f0f0;
			overflow: hidden;
			display: block;
			height: 40px;
			width: 40px;
			float: left;
		}
	
		.media-control:hover {
			background: #000;
		}
	
			.media-mute {
				float: right;
			}
		
			.media-full-screen {
				position: absolute;
				right: 0px;
				top: 0px;
			}
	
		.media-slide-control {
			border-radius: 20px;
			background: #f0f0f0;
			display: block;
			margin: 15px 0;
			height: 10px;
		}
	
			.media-scrubber {
			    position: relative;
				margin-left: 10px;
				width: 380px;
				float: left;
			}
			
			    .media-scrubber-head {
			        border-radius: 40px;
			        position: absolute;
			        background: #000;
			        margin: -15px 0 0 -15px;
			        height: 40px;
			        width: 40px;
			    }
	
			.media-volume {
				margin-right: 10px;
				float: right;
				width: 80px;
			}
		
		.media-time-control {
			display: block;
			float: left;
		}
		