html, body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5em;
}

.graph-content {
    margin: 20px 10px;
}

.graph {
    
    margin: 0 0 20px;
    height: 400px;
    background: #f0f0f0;
    
    position: relative;
    
}

.graph-point {
    
    cursor: pointer;
    
    stroke: #fff;
    /* fill: #09f; */
    
    position: relative;
    z-index: 100;
    
}

.graph-point:hover {
    fill: #fff;
}

.graph-axis {
    stroke: #d0d0d0;
    stroke-width: 1px;
}

.graph-axis-interval {
    stroke: #d0d0d0;
    stroke-width: 1px;
}

.graph-axis-interval-text {
    fill: #a0a0a0;
    font-size: 10px;
}