.graph {
    
    margin: 0 0 20px;
    height: 400px;
    background: #f0f0f0;
    
    position: relative;
    
}

.graph-point {
    
    cursor: pointer;
    
    stroke: #fff;
    
    position: relative;
    z-index: 100;
    
}

.graph-point:hover {
    fill: #fff;
}

.graph-axis {
    stroke: #d0d0d0;
    stroke-width: 1px;
}

.graph-axis-interval {
    stroke: #e0e0e0;
    stroke-width: 1px;
    stroke-style: dotted;
    stroke-dasharray: 5, 2;
}

.graph-axis-interval-text {
    fill: #a0a0a0;
    font-size: 10px;
}

.graph-axis-x-interval-text {
    text-anchor: middle;
}

.graph-axis-y-interval-text {
    text-anchor: middle;
    fill: #a0a0a0;
    font-size: 10px;
}

.graph-tooltip {

    position: absolute;
    display: none;
    font-size: 10px;
    
    background: #fff;
    border: 1px solid #d0d0d0;
    color: #666666;

}

.graph-tooltip.active {
    display: block;
}

.graph-tooltip-title {

    font-size: 10px;
    padding: 5px 10px;
    margin: 0;

    background: #d0d0d0;
    color: #ffffff;
}

.graph-tooltip-content {
    padding: 5px 10px;
    line-height: 1.5em;
    margin: 0;
}