.form {
    border: none;
    padding: 0;
    margin: 0;
}

.field {
    
    border: none;
    padding: 0;
    margin: 0 0 20px;
    
    font-size: 14px;
    
}

.field::after {
    height: 0;
    clear: both;
    content: "";
    display: block;
    visibility: hidden;
}

.field-label {
    color: #909090;
    line-height: 3em;
}

.field-text {
    
    outline: none;
    
    font-size: 14px;
    
    border: 1px solid #f0f0f0;
    
    height: 3em;
    line-height: 3em;
    
    padding: 0 10px;
    width: 100%;
    
    box-sizing: border-box;
    
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    
}

.field-text:focus {
    outline: 1px solid #eee;
}

.field-action-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    text-align: right;
}

.field-action-list > li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
}

.button {
    
    outline: none;
    
    border: none;
    background: #f0f0f0;
    
    font-size: 14px;
    
    padding: 0 20px;
    
    height: 3em;
    line-height: 3em;
    
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    
}

.button:hover {
    background: #d0d0d0;
}